header {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50px;
  z-index: 9;
}
header div.header {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header div.header a.header {
  color: black;
  padding: 7px 7px;
  font-size: 17px;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  transition: all 300ms;
}
header div.header a.header.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
header div.header a.header:hover {
  text-decoration-color: green;
  transition: all 300ms;
}

html {
  --black-line: rgb(15, 15, 24);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html div.line {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(-20deg);
  width: 200%;
  height: 100%;
  background-color: var(--black-line);
}
html div.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
html div.container div.infos {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 25%;
}
html div.container div.infos p.title {
  display: flex;
  padding: 5px;
  margin: 0;
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}
html div.container div.infos input.start {
  display: flex;
  width: 12.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  border-radius: 50px;
}